H1 Data points analysis - 100% data

In [2]:
import pandas as pd
import numpy as np

In [3]:
# import the csv
df = pd.read_csv('/home/h6x/git_projects/ornl-adjacency-method/experiment_1/census_complex_info.csv')

In [4]:
df.head()

,State,STCNTY,Variable,Census_count,H0_count,H1_count,H0_inf_count,H1_inf_count
0,GA,13009,EP_POV,9,9,0,1,0
1,GA,13009,EP_UNEMP,9,9,1,1,0
2,GA,13009,EP_NOHSDP,9,9,1,1,0
3,GA,13009,EP_UNINSUR,9,9,1,1,0
4,GA,13009,EP_AGE65,9,9,1,1,0

In [5]:
variables = df['Variable'].unique().tolist()
variables

['EP_POV',
 'EP_UNEMP',
 'EP_NOHSDP',
 'EP_UNINSUR',
 'EP_AGE65',
 'EP_AGE17',
 'EP_DISABL',
 'EP_SNGPNT',
 'EP_LIMENG',
 'EP_MINRTY',
 'EP_MUNIT',
 'EP_MOBILE',
 'EP_CROWD',
 'EP_NOVEH',
 'EP_GROUPQ']

In [10]:
for var in variables:

    for i in range(0, 11):
        df_var = df[df['Variable'] == var]
        count = df_var[df_var[f'H1_count'] == i].shape[0]
        print(f'Variable {var} with H1_count {i} = {count}')

    df_temp = df[df['Variable'] == var]
    more_count = df_temp[df_temp['H1_count'] > 10].shape[0]
    print(f'Variable {var} with H1_count > 10 = {more_count}')

    print('----------------------')

    # df_var = df[df['Variable'] == var]
    # count = df_var[df_var['H1_count'] == 0].shape[0]
    # print(f'Variable {var} has {count} rows with H1_count = 0')

Variable EP_POV with H1_count 0 = 2147
Variable EP_POV with H1_count 1 = 447
Variable EP_POV with H1_count 2 = 155
Variable EP_POV with H1_count 3 = 69
Variable EP_POV with H1_count 4 = 58
Variable EP_POV with H1_count 5 = 40
Variable EP_POV with H1_count 6 = 22
Variable EP_POV with H1_count 7 = 23
Variable EP_POV with H1_count 8 = 22
Variable EP_POV with H1_count 9 = 16
Variable EP_POV with H1_count 10 = 9
Variable EP_POV with H1_count > 10 = 132
----------------------
Variable EP_UNEMP with H1_count 0 = 2167
Variable EP_UNEMP with H1_count 1 = 371
Variable EP_UNEMP with H1_count 2 = 169
Variable EP_UNEMP with H1_count 3 = 86
Variable EP_UNEMP with H1_count 4 = 49
Variable EP_UNEMP with H1_count 5 = 45
Variable EP_UNEMP with H1_count 6 = 35
Variable EP_UNEMP with H1_count 7 = 29
Variable EP_UNEMP with H1_count 8 = 13
Variable EP_UNEMP with H1_count 9 = 13
Variable EP_UNEMP with H1_count 10 = 20
Variable EP_UNEMP with H1_count > 10 = 143
----------------------
Variable EP_NOHSDP with H1_count 0 = 2208
Variable EP_NOHSDP with H1_count 1 = 366
Variable EP_NOHSDP with H1_count 2 = 179
Variable EP_NOHSDP with H1_count 3 = 82
Variable EP_NOHSDP with H1_count 4 = 45
Variable EP_NOHSDP with H1_count 5 = 42
Variable EP_NOHSDP with H1_count 6 = 32
Variable EP_NOHSDP with H1_count 7 = 14
Variable EP_NOHSDP with H1_count 8 = 15
Variable EP_NOHSDP with H1_count 9 = 16
Variable EP_NOHSDP with H1_count 10 = 17
Variable EP_NOHSDP with H1_count > 10 = 124
----------------------
Variable EP_UNINSUR with H1_count 0 = 2198
Variable EP_UNINSUR with H1_count 1 = 358
Variable EP_UNINSUR with H1_count 2 = 174
Variable EP_UNINSUR with H1_count 3 = 79
Variable EP_UNINSUR with H1_count 4 = 50
Variable EP_UNINSUR with H1_count 5 = 40
Variable EP_UNINSUR with H1_count 6 = 29
Variable EP_UNINSUR with H1_count 7 = 20
Variable EP_UNINSUR with H1_count 8 = 17
Variable EP_UNINSUR with H1_count 9 = 27
Variable EP_UNINSUR with H1_count 10 = 14
Variable EP_UNINSUR with H1_count > 10 = 134
----------------------
Variable EP_AGE65 with H1_count 0 = 2223
Variable EP_AGE65 with H1_count 1 = 379
Variable EP_AGE65 with H1_count 2 = 145
Variable EP_AGE65 with H1_count 3 = 82
Variable EP_AGE65 with H1_count 4 = 56
Variable EP_AGE65 with H1_count 5 = 38
Variable EP_AGE65 with H1_count 6 = 17
Variable EP_AGE65 with H1_count 7 = 22
Variable EP_AGE65 with H1_count 8 = 16
Variable EP_AGE65 with H1_count 9 = 13
Variable EP_AGE65 with H1_count 10 = 19
Variable EP_AGE65 with H1_count > 10 = 130
----------------------
Variable EP_AGE17 with H1_count 0 = 2182
Variable EP_AGE17 with H1_count 1 = 383
Variable EP_AGE17 with H1_count 2 = 148
Variable EP_AGE17 with H1_count 3 = 74
Variable EP_AGE17 with H1_count 4 = 62
Variable EP_AGE17 with H1_count 5 = 41
Variable EP_AGE17 with H1_count 6 = 41
Variable EP_AGE17 with H1_count 7 = 20
Variable EP_AGE17 with H1_count 8 = 17
Variable EP_AGE17 with H1_count 9 = 11
Variable EP_AGE17 with H1_count 10 = 17
Variable EP_AGE17 with H1_count > 10 = 144
----------------------
Variable EP_DISABL with H1_count 0 = 2191
Variable EP_DISABL with H1_count 1 = 383
Variable EP_DISABL with H1_count 2 = 152
Variable EP_DISABL with H1_count 3 = 95
Variable EP_DISABL with H1_count 4 = 55
Variable EP_DISABL with H1_count 5 = 32
Variable EP_DISABL with H1_count 6 = 23
Variable EP_DISABL with H1_count 7 = 15
Variable EP_DISABL with H1_count 8 = 19
Variable EP_DISABL with H1_count 9 = 13
Variable EP_DISABL with H1_count 10 = 16
Variable EP_DISABL with H1_count > 10 = 146
----------------------
Variable EP_SNGPNT with H1_count 0 = 2088
Variable EP_SNGPNT with H1_count 1 = 451
Variable EP_SNGPNT with H1_count 2 = 148
Variable EP_SNGPNT with H1_count 3 = 90
Variable EP_SNGPNT with H1_count 4 = 74
Variable EP_SNGPNT with H1_count 5 = 37
Variable EP_SNGPNT with H1_count 6 = 32
Variable EP_SNGPNT with H1_count 7 = 24
Variable EP_SNGPNT with H1_count 8 = 18
Variable EP_SNGPNT with H1_count 9 = 15
Variable EP_SNGPNT with H1_count 10 = 11
Variable EP_SNGPNT with H1_count > 10 = 152
----------------------
Variable EP_LIMENG with H1_count 0 = 2179
Variable EP_LIMENG with H1_count 1 = 376
Variable EP_LIMENG with H1_count 2 = 175
Variable EP_LIMENG with H1_count 3 = 77
Variable EP_LIMENG with H1_count 4 = 62
Variable EP_LIMENG with H1_count 5 = 34
Variable EP_LIMENG with H1_count 6 = 35
Variable EP_LIMENG with H1_count 7 = 18
Variable EP_LIMENG with H1_count 8 = 17
Variable EP_LIMENG with H1_count 9 = 17
Variable EP_LIMENG with H1_count 10 = 14
Variable EP_LIMENG with H1_count > 10 = 136
----------------------
Variable EP_MINRTY with H1_count 0 = 2102
Variable EP_MINRTY with H1_count 1 = 466
Variable EP_MINRTY with H1_count 2 = 168
Variable EP_MINRTY with H1_count 3 = 85
Variable EP_MINRTY with H1_count 4 = 56
Variable EP_MINRTY with H1_count 5 = 39
Variable EP_MINRTY with H1_count 6 = 32
Variable EP_MINRTY with H1_count 7 = 25
Variable EP_MINRTY with H1_count 8 = 23
Variable EP_MINRTY with H1_count 9 = 9
Variable EP_MINRTY with H1_count 10 = 13
Variable EP_MINRTY with H1_count > 10 = 122
----------------------
Variable EP_MUNIT with H1_count 0 = 2054
Variable EP_MUNIT with H1_count 1 = 472
Variable EP_MUNIT with H1_count 2 = 196
Variable EP_MUNIT with H1_count 3 = 90
Variable EP_MUNIT with H1_count 4 = 53
Variable EP_MUNIT with H1_count 5 = 41
Variable EP_MUNIT with H1_count 6 = 27
Variable EP_MUNIT with H1_count 7 = 26
Variable EP_MUNIT with H1_count 8 = 22
Variable EP_MUNIT with H1_count 9 = 18
Variable EP_MUNIT with H1_count 10 = 9
Variable EP_MUNIT with H1_count > 10 = 132
----------------------
Variable EP_MOBILE with H1_count 0 = 2396
Variable EP_MOBILE with H1_count 1 = 285
Variable EP_MOBILE with H1_count 2 = 107
Variable EP_MOBILE with H1_count 3 = 65
Variable EP_MOBILE with H1_count 4 = 44
Variable EP_MOBILE with H1_count 5 = 36
Variable EP_MOBILE with H1_count 6 = 26
Variable EP_MOBILE with H1_count 7 = 22
Variable EP_MOBILE with H1_count 8 = 18
Variable EP_MOBILE with H1_count 9 = 9
Variable EP_MOBILE with H1_count 10 = 16
Variable EP_MOBILE with H1_count > 10 = 116
----------------------
Variable EP_CROWD with H1_count 0 = 2174
Variable EP_CROWD with H1_count 1 = 395
Variable EP_CROWD with H1_count 2 = 145
Variable EP_CROWD with H1_count 3 = 80
Variable EP_CROWD with H1_count 4 = 48
Variable EP_CROWD with H1_count 5 = 43
Variable EP_CROWD with H1_count 6 = 32
Variable EP_CROWD with H1_count 7 = 32
Variable EP_CROWD with H1_count 8 = 25
Variable EP_CROWD with H1_count 9 = 18
Variable EP_CROWD with H1_count 10 = 6
Variable EP_CROWD with H1_count > 10 = 142
----------------------
Variable EP_NOVEH with H1_count 0 = 2066
Variable EP_NOVEH with H1_count 1 = 502
Variable EP_NOVEH with H1_count 2 = 158
Variable EP_NOVEH with H1_count 3 = 81
Variable EP_NOVEH with H1_count 4 = 50
Variable EP_NOVEH with H1_count 5 = 46
Variable EP_NOVEH with H1_count 6 = 29
Variable EP_NOVEH with H1_count 7 = 26
Variable EP_NOVEH with H1_count 8 = 19
Variable EP_NOVEH with H1_count 9 = 17
Variable EP_NOVEH with H1_count 10 = 11
Variable EP_NOVEH with H1_count > 10 = 135
----------------------
Variable EP_GROUPQ with H1_count 0 = 2078
Variable EP_GROUPQ with H1_count 1 = 470
Variable EP_GROUPQ with H1_count 2 = 171
Variable EP_GROUPQ with H1_count 3 = 90
Variable EP_GROUPQ with H1_count 4 = 64
Variable EP_GROUPQ with H1_count 5 = 33
Variable EP_GROUPQ with H1_count 6 = 29
Variable EP_GROUPQ with H1_count 7 = 29
Variable EP_GROUPQ with H1_count 8 = 22
Variable EP_GROUPQ with H1_count 9 = 13
Variable EP_GROUPQ with H1_count 10 = 12
Variable EP_GROUPQ with H1_count > 10 = 129
----------------------

In [11]:
for var in variables:

    for i in range(0, 11):
        df_var = df[df['Variable'] == var]
        count = df_var[df_var[f'H1_inf_count'] == i].shape[0]
        print(f'Variable {var} with H1 INF count {i} = {count}')

    df_temp = df[df['Variable'] == var]
    more_count = df_temp[df_temp['H1_inf_count'] > 10].shape[0]
    print(f'Variable {var} with H1 INF count > 10 = {more_count}')

    print('----------------------')

Variable EP_POV with H1 INF count 0 = 3045
Variable EP_POV with H1 INF count 1 = 61
Variable EP_POV with H1 INF count 2 = 20
Variable EP_POV with H1 INF count 3 = 5
Variable EP_POV with H1 INF count 4 = 1
Variable EP_POV with H1 INF count 5 = 2
Variable EP_POV with H1 INF count 6 = 1
Variable EP_POV with H1 INF count 7 = 1
Variable EP_POV with H1 INF count 8 = 2
Variable EP_POV with H1 INF count 9 = 0
Variable EP_POV with H1 INF count 10 = 1
Variable EP_POV with H1 INF count > 10 = 1
----------------------
Variable EP_UNEMP with H1 INF count 0 = 3045
Variable EP_UNEMP with H1 INF count 1 = 61
Variable EP_UNEMP with H1 INF count 2 = 20
Variable EP_UNEMP with H1 INF count 3 = 5
Variable EP_UNEMP with H1 INF count 4 = 1
Variable EP_UNEMP with H1 INF count 5 = 2
Variable EP_UNEMP with H1 INF count 6 = 1
Variable EP_UNEMP with H1 INF count 7 = 1
Variable EP_UNEMP with H1 INF count 8 = 2
Variable EP_UNEMP with H1 INF count 9 = 0
Variable EP_UNEMP with H1 INF count 10 = 1
Variable EP_UNEMP with H1 INF count > 10 = 1
----------------------
Variable EP_NOHSDP with H1 INF count 0 = 3045
Variable EP_NOHSDP with H1 INF count 1 = 61
Variable EP_NOHSDP with H1 INF count 2 = 20
Variable EP_NOHSDP with H1 INF count 3 = 5
Variable EP_NOHSDP with H1 INF count 4 = 1
Variable EP_NOHSDP with H1 INF count 5 = 2
Variable EP_NOHSDP with H1 INF count 6 = 1
Variable EP_NOHSDP with H1 INF count 7 = 1
Variable EP_NOHSDP with H1 INF count 8 = 2
Variable EP_NOHSDP with H1 INF count 9 = 0
Variable EP_NOHSDP with H1 INF count 10 = 1
Variable EP_NOHSDP with H1 INF count > 10 = 1
----------------------
Variable EP_UNINSUR with H1 INF count 0 = 3045
Variable EP_UNINSUR with H1 INF count 1 = 61
Variable EP_UNINSUR with H1 INF count 2 = 20
Variable EP_UNINSUR with H1 INF count 3 = 5
Variable EP_UNINSUR with H1 INF count 4 = 1
Variable EP_UNINSUR with H1 INF count 5 = 2
Variable EP_UNINSUR with H1 INF count 6 = 1
Variable EP_UNINSUR with H1 INF count 7 = 1
Variable EP_UNINSUR with H1 INF count 8 = 2
Variable EP_UNINSUR with H1 INF count 9 = 0
Variable EP_UNINSUR with H1 INF count 10 = 1
Variable EP_UNINSUR with H1 INF count > 10 = 1
----------------------
Variable EP_AGE65 with H1 INF count 0 = 3045
Variable EP_AGE65 with H1 INF count 1 = 61
Variable EP_AGE65 with H1 INF count 2 = 20
Variable EP_AGE65 with H1 INF count 3 = 5
Variable EP_AGE65 with H1 INF count 4 = 1
Variable EP_AGE65 with H1 INF count 5 = 2
Variable EP_AGE65 with H1 INF count 6 = 1
Variable EP_AGE65 with H1 INF count 7 = 1
Variable EP_AGE65 with H1 INF count 8 = 2
Variable EP_AGE65 with H1 INF count 9 = 0
Variable EP_AGE65 with H1 INF count 10 = 1
Variable EP_AGE65 with H1 INF count > 10 = 1
----------------------
Variable EP_AGE17 with H1 INF count 0 = 3045
Variable EP_AGE17 with H1 INF count 1 = 61
Variable EP_AGE17 with H1 INF count 2 = 20
Variable EP_AGE17 with H1 INF count 3 = 5
Variable EP_AGE17 with H1 INF count 4 = 1
Variable EP_AGE17 with H1 INF count 5 = 2
Variable EP_AGE17 with H1 INF count 6 = 1
Variable EP_AGE17 with H1 INF count 7 = 1
Variable EP_AGE17 with H1 INF count 8 = 2
Variable EP_AGE17 with H1 INF count 9 = 0
Variable EP_AGE17 with H1 INF count 10 = 1
Variable EP_AGE17 with H1 INF count > 10 = 1
----------------------
Variable EP_DISABL with H1 INF count 0 = 3045
Variable EP_DISABL with H1 INF count 1 = 61
Variable EP_DISABL with H1 INF count 2 = 20
Variable EP_DISABL with H1 INF count 3 = 5
Variable EP_DISABL with H1 INF count 4 = 1
Variable EP_DISABL with H1 INF count 5 = 2
Variable EP_DISABL with H1 INF count 6 = 1
Variable EP_DISABL with H1 INF count 7 = 1
Variable EP_DISABL with H1 INF count 8 = 2
Variable EP_DISABL with H1 INF count 9 = 0
Variable EP_DISABL with H1 INF count 10 = 1
Variable EP_DISABL with H1 INF count > 10 = 1
----------------------
Variable EP_SNGPNT with H1 INF count 0 = 3045
Variable EP_SNGPNT with H1 INF count 1 = 61
Variable EP_SNGPNT with H1 INF count 2 = 20
Variable EP_SNGPNT with H1 INF count 3 = 5
Variable EP_SNGPNT with H1 INF count 4 = 1
Variable EP_SNGPNT with H1 INF count 5 = 2
Variable EP_SNGPNT with H1 INF count 6 = 1
Variable EP_SNGPNT with H1 INF count 7 = 1
Variable EP_SNGPNT with H1 INF count 8 = 2
Variable EP_SNGPNT with H1 INF count 9 = 0
Variable EP_SNGPNT with H1 INF count 10 = 1
Variable EP_SNGPNT with H1 INF count > 10 = 1
----------------------
Variable EP_LIMENG with H1 INF count 0 = 3045
Variable EP_LIMENG with H1 INF count 1 = 61
Variable EP_LIMENG with H1 INF count 2 = 20
Variable EP_LIMENG with H1 INF count 3 = 5
Variable EP_LIMENG with H1 INF count 4 = 1
Variable EP_LIMENG with H1 INF count 5 = 2
Variable EP_LIMENG with H1 INF count 6 = 1
Variable EP_LIMENG with H1 INF count 7 = 1
Variable EP_LIMENG with H1 INF count 8 = 2
Variable EP_LIMENG with H1 INF count 9 = 0
Variable EP_LIMENG with H1 INF count 10 = 1
Variable EP_LIMENG with H1 INF count > 10 = 1
----------------------
Variable EP_MINRTY with H1 INF count 0 = 3045
Variable EP_MINRTY with H1 INF count 1 = 61
Variable EP_MINRTY with H1 INF count 2 = 20
Variable EP_MINRTY with H1 INF count 3 = 5
Variable EP_MINRTY with H1 INF count 4 = 1
Variable EP_MINRTY with H1 INF count 5 = 2
Variable EP_MINRTY with H1 INF count 6 = 1
Variable EP_MINRTY with H1 INF count 7 = 1
Variable EP_MINRTY with H1 INF count 8 = 2
Variable EP_MINRTY with H1 INF count 9 = 0
Variable EP_MINRTY with H1 INF count 10 = 1
Variable EP_MINRTY with H1 INF count > 10 = 1
----------------------
Variable EP_MUNIT with H1 INF count 0 = 3045
Variable EP_MUNIT with H1 INF count 1 = 61
Variable EP_MUNIT with H1 INF count 2 = 20
Variable EP_MUNIT with H1 INF count 3 = 5
Variable EP_MUNIT with H1 INF count 4 = 1
Variable EP_MUNIT with H1 INF count 5 = 2
Variable EP_MUNIT with H1 INF count 6 = 1
Variable EP_MUNIT with H1 INF count 7 = 1
Variable EP_MUNIT with H1 INF count 8 = 2
Variable EP_MUNIT with H1 INF count 9 = 0
Variable EP_MUNIT with H1 INF count 10 = 1
Variable EP_MUNIT with H1 INF count > 10 = 1
----------------------
Variable EP_MOBILE with H1 INF count 0 = 3045
Variable EP_MOBILE with H1 INF count 1 = 61
Variable EP_MOBILE with H1 INF count 2 = 20
Variable EP_MOBILE with H1 INF count 3 = 5
Variable EP_MOBILE with H1 INF count 4 = 1
Variable EP_MOBILE with H1 INF count 5 = 2
Variable EP_MOBILE with H1 INF count 6 = 1
Variable EP_MOBILE with H1 INF count 7 = 1
Variable EP_MOBILE with H1 INF count 8 = 2
Variable EP_MOBILE with H1 INF count 9 = 0
Variable EP_MOBILE with H1 INF count 10 = 1
Variable EP_MOBILE with H1 INF count > 10 = 1
----------------------
Variable EP_CROWD with H1 INF count 0 = 3045
Variable EP_CROWD with H1 INF count 1 = 61
Variable EP_CROWD with H1 INF count 2 = 20
Variable EP_CROWD with H1 INF count 3 = 5
Variable EP_CROWD with H1 INF count 4 = 1
Variable EP_CROWD with H1 INF count 5 = 2
Variable EP_CROWD with H1 INF count 6 = 1
Variable EP_CROWD with H1 INF count 7 = 1
Variable EP_CROWD with H1 INF count 8 = 2
Variable EP_CROWD with H1 INF count 9 = 0
Variable EP_CROWD with H1 INF count 10 = 1
Variable EP_CROWD with H1 INF count > 10 = 1
----------------------
Variable EP_NOVEH with H1 INF count 0 = 3045
Variable EP_NOVEH with H1 INF count 1 = 61
Variable EP_NOVEH with H1 INF count 2 = 20
Variable EP_NOVEH with H1 INF count 3 = 5
Variable EP_NOVEH with H1 INF count 4 = 1
Variable EP_NOVEH with H1 INF count 5 = 2
Variable EP_NOVEH with H1 INF count 6 = 1
Variable EP_NOVEH with H1 INF count 7 = 1
Variable EP_NOVEH with H1 INF count 8 = 2
Variable EP_NOVEH with H1 INF count 9 = 0
Variable EP_NOVEH with H1 INF count 10 = 1
Variable EP_NOVEH with H1 INF count > 10 = 1
----------------------
Variable EP_GROUPQ with H1 INF count 0 = 3045
Variable EP_GROUPQ with H1 INF count 1 = 61
Variable EP_GROUPQ with H1 INF count 2 = 20
Variable EP_GROUPQ with H1 INF count 3 = 5
Variable EP_GROUPQ with H1 INF count 4 = 1
Variable EP_GROUPQ with H1 INF count 5 = 2
Variable EP_GROUPQ with H1 INF count 6 = 1
Variable EP_GROUPQ with H1 INF count 7 = 1
Variable EP_GROUPQ with H1 INF count 8 = 2
Variable EP_GROUPQ with H1 INF count 9 = 0
Variable EP_GROUPQ with H1 INF count 10 = 1
Variable EP_GROUPQ with H1 INF count > 10 = 1
----------------------

In [13]:
# sort the dataframe by the H1_inf_count column
df.sort_values(by='H1_inf_count', ascending=False)

,State,STCNTY,Variable,Census_count,H0_count,H1_count,H0_inf_count,H1_inf_count
34178,CA,6037,EP_LIMENG,2315,2310,260,3,15
34176,CA,6037,EP_DISABL,2315,2315,309,3,15
34170,CA,6037,EP_POV,2315,2314,307,3,15
34184,CA,6037,EP_GROUPQ,2315,1575,295,3,15
34171,CA,6037,EP_UNEMP,2315,2313,323,3,15
...,...,...,...,...,...,...,...,...
46605,IL,17177,EP_POV,13,13,0,1,0
46606,IL,17177,EP_UNEMP,13,13,1,1,0
46607,IL,17177,EP_NOHSDP,13,13,0,1,0
46608,IL,17177,EP_UNINSUR,13,13,0,1,0
47099,DE,10005,EP_GROUPQ,53,30,3,1,0

Add label values to df

In [26]:
overdose_df = pd.read_excel('/home/h6x/git_projects/ornl-svi-data-processing/raw_data/HepVu_County_Opioid_Indicators_05DEC22.xlsx',dtype={'GEO ID': str})

In [27]:
overdose_df = overdose_df[['GEO ID','County Name','Narcotic Overdose Mortality Rate 2018']]

In [28]:
overdose_df = overdose_df.rename(columns={'Narcotic Overdose Mortality Rate 2018': 'NOD_Rate','GEO ID':'STCNTY'})

In [29]:
overdose_df.head(3)

  STCNTY     County Name  NOD_Rate
0   1001  Autauga County      10.9
1   1003  Baldwin County      14.9
2   1005  Barbour County       5.2

In [30]:
# Calculate the min and max of the column
min_value = overdose_df['NOD_Rate'].min()
max_value = overdose_df['NOD_Rate'].max()

In [32]:
min_value, max_value

(-9.0, 114.4)

In [33]:
# Assuming negative overdose rate means this data is missing
len(overdose_df[overdose_df['NOD_Rate'] < 0])

89

In [34]:
# lets not consider the missing data
overdose_df = overdose_df[overdose_df['NOD_Rate'] >= 0]

In [35]:
overdose_df.shape

(3132, 3)

In [36]:
overdose_df['OD_class'] = pd.qcut(overdose_df['NOD_Rate'], q=[0,0.90, 1], labels=['0', '1'])

In [37]:
overdose_df = overdose_df.reset_index(drop=True)

In [38]:
overdose_df['STCNTY'] = overdose_df['STCNTY'].apply(lambda x: '0' + x if len(x) == 4 else x)

In [39]:
overdose_df.sort_values(by=['NOD_Rate'], ascending=False).head(5)

     STCNTY      County Name  NOD_Rate OD_class
2987  54011    Cabell County     114.4        1
1206  24510   Baltimore city     108.8        1
2984  54005     Boone County      94.7        1
3005  54047  McDowell County      85.1        1
1806  35039  Rio Arriba Coun      80.0        1

In [40]:
# get the H1 df

df.head(3)

,State,STCNTY,Variable,Census_count,H0_count,H1_count,H0_inf_count,H1_inf_count
34178,CA,6037,EP_LIMENG,2315,2310,260,3,15
34170,CA,6037,EP_POV,2315,2314,307,3,15
34183,CA,6037,EP_NOVEH,2315,2302,285,3,15

In [42]:
# make the STCNTY column STR
df['STCNTY'] = df['STCNTY'].apply(lambda x: str(x))

In [43]:
# For STCNTY column, we need to add a leading zero if the length of the string is 4
df['STCNTY'] = df['STCNTY'].apply(lambda x: '0' + x if len(x) == 4 else x)

In [44]:
# add NOD_Rate and OD_class to the df based on the STCNTY
merged_df = pd.merge(df, overdose_df[['STCNTY','NOD_Rate','OD_class']], on='STCNTY', how='left')

In [45]:
df.shape, merged_df.shape

((47100, 8), (47100, 10))

In [46]:
merged_df.head()

,State,STCNTY,Variable,Census_count,H0_count,H1_count,H0_inf_count,H1_inf_count,NOD_Rate,OD_class
0,CA,06037,EP_LIMENG,2315,2310,260,3,15,9.8,0
1,CA,06037,EP_POV,2315,2314,307,3,15,9.8,0
2,CA,06037,EP_NOVEH,2315,2302,285,3,15,9.8,0
3,CA,06037,EP_CROWD,2315,2266,286,3,15,9.8,0
4,CA,06037,EP_MOBILE,2315,810,261,3,15,9.8,0

In [50]:
type(merged_df['OD_class'][0])

str

Now study the data

In [55]:
for var in variables:

    for i in range(0, 11):
        df_var = merged_df[merged_df['Variable'] == var]
        count = df_var[df_var[f'H1_count'] == i].shape[0]
        print(f'Variable {var} with H1_count {i} = {count}')

        high_od_count_h1 = df_var[(df_var[f'H1_count'] == i) & (df_var[f'OD_class'] == '1')].shape[0]
        print(f'OD_class 1 count: {high_od_count_h1}')

        low_od_count_h1 = df_var[(df_var[f'H1_count'] == i) & (df_var[f'OD_class'] == '0')].shape[0]
        print(f'OD_class 0 count: {low_od_count_h1}')

    df_temp = merged_df[merged_df['Variable'] == var]
    more_count = df_temp[df_temp['H1_count'] > 10].shape[0]
    print(f'Variable {var} with H1_count > 10 = {more_count}')

    high_od_count = df_temp[(df_temp[f'H1_count'] > 10) & (df_temp[f'OD_class'] == '1')].shape[0]
    print(f'OD_class 1 count: {high_od_count}')

    low_od_count = df_temp[(df_temp[f'H1_count'] > 10 ) & (df_temp[f'OD_class'] == '0')].shape[0]
    print(f'OD_class 0 count: {low_od_count}')

    print('----------------------')

    # break

Variable EP_POV with H1_count 0 = 2147
OD_class 1 count: 158
OD_class 0 count: 1983
Variable EP_POV with H1_count 1 = 447
OD_class 1 count: 52
OD_class 0 count: 394
Variable EP_POV with H1_count 2 = 155
OD_class 1 count: 18
OD_class 0 count: 137
Variable EP_POV with H1_count 3 = 69
OD_class 1 count: 10
OD_class 0 count: 59
Variable EP_POV with H1_count 4 = 58
OD_class 1 count: 15
OD_class 0 count: 42
Variable EP_POV with H1_count 5 = 40
OD_class 1 count: 5
OD_class 0 count: 35
Variable EP_POV with H1_count 6 = 22
OD_class 1 count: 4
OD_class 0 count: 18
Variable EP_POV with H1_count 7 = 23
OD_class 1 count: 6
OD_class 0 count: 17
Variable EP_POV with H1_count 8 = 22
OD_class 1 count: 6
OD_class 0 count: 15
Variable EP_POV with H1_count 9 = 16
OD_class 1 count: 3
OD_class 0 count: 13
Variable EP_POV with H1_count 10 = 9
OD_class 1 count: 2
OD_class 0 count: 7
Variable EP_POV with H1_count > 10 = 132
OD_class 1 count: 32
OD_class 0 count: 99
----------------------
Variable EP_UNEMP with H1_count 0 = 2167
OD_class 1 count: 148
OD_class 0 count: 2013
Variable EP_UNEMP with H1_count 1 = 371
OD_class 1 count: 55
OD_class 0 count: 315
Variable EP_UNEMP with H1_count 2 = 169
OD_class 1 count: 24
OD_class 0 count: 145
Variable EP_UNEMP with H1_count 3 = 86
OD_class 1 count: 15
OD_class 0 count: 71
Variable EP_UNEMP with H1_count 4 = 49
OD_class 1 count: 4
OD_class 0 count: 45
Variable EP_UNEMP with H1_count 5 = 45
OD_class 1 count: 8
OD_class 0 count: 36
Variable EP_UNEMP with H1_count 6 = 35
OD_class 1 count: 9
OD_class 0 count: 26
Variable EP_UNEMP with H1_count 7 = 29
OD_class 1 count: 4
OD_class 0 count: 25
Variable EP_UNEMP with H1_count 8 = 13
OD_class 1 count: 2
OD_class 0 count: 11
Variable EP_UNEMP with H1_count 9 = 13
OD_class 1 count: 2
OD_class 0 count: 11
Variable EP_UNEMP with H1_count 10 = 20
OD_class 1 count: 3
OD_class 0 count: 16
Variable EP_UNEMP with H1_count > 10 = 143
OD_class 1 count: 37
OD_class 0 count: 105
----------------------
Variable EP_NOHSDP with H1_count 0 = 2208
OD_class 1 count: 158
OD_class 0 count: 2043
Variable EP_NOHSDP with H1_count 1 = 366
OD_class 1 count: 45
OD_class 0 count: 321
Variable EP_NOHSDP with H1_count 2 = 179
OD_class 1 count: 31
OD_class 0 count: 148
Variable EP_NOHSDP with H1_count 3 = 82
OD_class 1 count: 15
OD_class 0 count: 66
Variable EP_NOHSDP with H1_count 4 = 45
OD_class 1 count: 5
OD_class 0 count: 39
Variable EP_NOHSDP with H1_count 5 = 42
OD_class 1 count: 7
OD_class 0 count: 35
Variable EP_NOHSDP with H1_count 6 = 32
OD_class 1 count: 3
OD_class 0 count: 29
Variable EP_NOHSDP with H1_count 7 = 14
OD_class 1 count: 3
OD_class 0 count: 11
Variable EP_NOHSDP with H1_count 8 = 15
OD_class 1 count: 2
OD_class 0 count: 13
Variable EP_NOHSDP with H1_count 9 = 16
OD_class 1 count: 6
OD_class 0 count: 10
Variable EP_NOHSDP with H1_count 10 = 17
OD_class 1 count: 5
OD_class 0 count: 11
Variable EP_NOHSDP with H1_count > 10 = 124
OD_class 1 count: 31
OD_class 0 count: 93
----------------------
Variable EP_UNINSUR with H1_count 0 = 2198
OD_class 1 count: 156
OD_class 0 count: 2036
Variable EP_UNINSUR with H1_count 1 = 358
OD_class 1 count: 43
OD_class 0 count: 314
Variable EP_UNINSUR with H1_count 2 = 174
OD_class 1 count: 26
OD_class 0 count: 148
Variable EP_UNINSUR with H1_count 3 = 79
OD_class 1 count: 16
OD_class 0 count: 63
Variable EP_UNINSUR with H1_count 4 = 50
OD_class 1 count: 8
OD_class 0 count: 42
Variable EP_UNINSUR with H1_count 5 = 40
OD_class 1 count: 6
OD_class 0 count: 34
Variable EP_UNINSUR with H1_count 6 = 29
OD_class 1 count: 4
OD_class 0 count: 25
Variable EP_UNINSUR with H1_count 7 = 20
OD_class 1 count: 4
OD_class 0 count: 15
Variable EP_UNINSUR with H1_count 8 = 17
OD_class 1 count: 5
OD_class 0 count: 12
Variable EP_UNINSUR with H1_count 9 = 27
OD_class 1 count: 6
OD_class 0 count: 21
Variable EP_UNINSUR with H1_count 10 = 14
OD_class 1 count: 4
OD_class 0 count: 9
Variable EP_UNINSUR with H1_count > 10 = 134
OD_class 1 count: 33
OD_class 0 count: 100
----------------------
Variable EP_AGE65 with H1_count 0 = 2223
OD_class 1 count: 151
OD_class 0 count: 2065
Variable EP_AGE65 with H1_count 1 = 379
OD_class 1 count: 60
OD_class 0 count: 319
Variable EP_AGE65 with H1_count 2 = 145
OD_class 1 count: 23
OD_class 0 count: 122
Variable EP_AGE65 with H1_count 3 = 82
OD_class 1 count: 14
OD_class 0 count: 68
Variable EP_AGE65 with H1_count 4 = 56
OD_class 1 count: 7
OD_class 0 count: 49
Variable EP_AGE65 with H1_count 5 = 38
OD_class 1 count: 5
OD_class 0 count: 33
Variable EP_AGE65 with H1_count 6 = 17
OD_class 1 count: 2
OD_class 0 count: 14
Variable EP_AGE65 with H1_count 7 = 22
OD_class 1 count: 8
OD_class 0 count: 14
Variable EP_AGE65 with H1_count 8 = 16
OD_class 1 count: 1
OD_class 0 count: 15
Variable EP_AGE65 with H1_count 9 = 13
OD_class 1 count: 2
OD_class 0 count: 10
Variable EP_AGE65 with H1_count 10 = 19
OD_class 1 count: 7
OD_class 0 count: 12
Variable EP_AGE65 with H1_count > 10 = 130
OD_class 1 count: 31
OD_class 0 count: 98
----------------------
Variable EP_AGE17 with H1_count 0 = 2182
OD_class 1 count: 153
OD_class 0 count: 2023
Variable EP_AGE17 with H1_count 1 = 383
OD_class 1 count: 41
OD_class 0 count: 341
Variable EP_AGE17 with H1_count 2 = 148
OD_class 1 count: 29
OD_class 0 count: 119
Variable EP_AGE17 with H1_count 3 = 74
OD_class 1 count: 14
OD_class 0 count: 60
Variable EP_AGE17 with H1_count 4 = 62
OD_class 1 count: 8
OD_class 0 count: 54
Variable EP_AGE17 with H1_count 5 = 41
OD_class 1 count: 10
OD_class 0 count: 31
Variable EP_AGE17 with H1_count 6 = 41
OD_class 1 count: 4
OD_class 0 count: 37
Variable EP_AGE17 with H1_count 7 = 20
OD_class 1 count: 8
OD_class 0 count: 12
Variable EP_AGE17 with H1_count 8 = 17
OD_class 1 count: 1
OD_class 0 count: 14
Variable EP_AGE17 with H1_count 9 = 11
OD_class 1 count: 2
OD_class 0 count: 9
Variable EP_AGE17 with H1_count 10 = 17
OD_class 1 count: 4
OD_class 0 count: 13
Variable EP_AGE17 with H1_count > 10 = 144
OD_class 1 count: 37
OD_class 0 count: 106
----------------------
Variable EP_DISABL with H1_count 0 = 2191
OD_class 1 count: 148
OD_class 0 count: 2036
Variable EP_DISABL with H1_count 1 = 383
OD_class 1 count: 52
OD_class 0 count: 331
Variable EP_DISABL with H1_count 2 = 152
OD_class 1 count: 26
OD_class 0 count: 126
Variable EP_DISABL with H1_count 3 = 95
OD_class 1 count: 15
OD_class 0 count: 80
Variable EP_DISABL with H1_count 4 = 55
OD_class 1 count: 13
OD_class 0 count: 42
Variable EP_DISABL with H1_count 5 = 32
OD_class 1 count: 4
OD_class 0 count: 27
Variable EP_DISABL with H1_count 6 = 23
OD_class 1 count: 6
OD_class 0 count: 17
Variable EP_DISABL with H1_count 7 = 15
OD_class 1 count: 2
OD_class 0 count: 12
Variable EP_DISABL with H1_count 8 = 19
OD_class 1 count: 3
OD_class 0 count: 16
Variable EP_DISABL with H1_count 9 = 13
OD_class 1 count: 0
OD_class 0 count: 13
Variable EP_DISABL with H1_count 10 = 16
OD_class 1 count: 4
OD_class 0 count: 12
Variable EP_DISABL with H1_count > 10 = 146
OD_class 1 count: 38
OD_class 0 count: 107
----------------------
Variable EP_SNGPNT with H1_count 0 = 2088
OD_class 1 count: 143
OD_class 0 count: 1939
Variable EP_SNGPNT with H1_count 1 = 451
OD_class 1 count: 57
OD_class 0 count: 393
Variable EP_SNGPNT with H1_count 2 = 148
OD_class 1 count: 22
OD_class 0 count: 126
Variable EP_SNGPNT with H1_count 3 = 90
OD_class 1 count: 19
OD_class 0 count: 71
Variable EP_SNGPNT with H1_count 4 = 74
OD_class 1 count: 9
OD_class 0 count: 65
Variable EP_SNGPNT with H1_count 5 = 37
OD_class 1 count: 6
OD_class 0 count: 31
Variable EP_SNGPNT with H1_count 6 = 32
OD_class 1 count: 5
OD_class 0 count: 27
Variable EP_SNGPNT with H1_count 7 = 24
OD_class 1 count: 3
OD_class 0 count: 21
Variable EP_SNGPNT with H1_count 8 = 18
OD_class 1 count: 3
OD_class 0 count: 13
Variable EP_SNGPNT with H1_count 9 = 15
OD_class 1 count: 4
OD_class 0 count: 11
Variable EP_SNGPNT with H1_count 10 = 11
OD_class 1 count: 3
OD_class 0 count: 8
Variable EP_SNGPNT with H1_count > 10 = 152
OD_class 1 count: 37
OD_class 0 count: 114
----------------------
Variable EP_LIMENG with H1_count 0 = 2179
OD_class 1 count: 153
OD_class 0 count: 2020
Variable EP_LIMENG with H1_count 1 = 376
OD_class 1 count: 48
OD_class 0 count: 327
Variable EP_LIMENG with H1_count 2 = 175
OD_class 1 count: 25
OD_class 0 count: 150
Variable EP_LIMENG with H1_count 3 = 77
OD_class 1 count: 12
OD_class 0 count: 64
Variable EP_LIMENG with H1_count 4 = 62
OD_class 1 count: 12
OD_class 0 count: 50
Variable EP_LIMENG with H1_count 5 = 34
OD_class 1 count: 4
OD_class 0 count: 30
Variable EP_LIMENG with H1_count 6 = 35
OD_class 1 count: 8
OD_class 0 count: 27
Variable EP_LIMENG with H1_count 7 = 18
OD_class 1 count: 2
OD_class 0 count: 16
Variable EP_LIMENG with H1_count 8 = 17
OD_class 1 count: 5
OD_class 0 count: 11
Variable EP_LIMENG with H1_count 9 = 17
OD_class 1 count: 3
OD_class 0 count: 14
Variable EP_LIMENG with H1_count 10 = 14
OD_class 1 count: 4
OD_class 0 count: 10
Variable EP_LIMENG with H1_count > 10 = 136
OD_class 1 count: 35
OD_class 0 count: 100
----------------------
Variable EP_MINRTY with H1_count 0 = 2102
OD_class 1 count: 134
OD_class 0 count: 1962
Variable EP_MINRTY with H1_count 1 = 466
OD_class 1 count: 67
OD_class 0 count: 398
Variable EP_MINRTY with H1_count 2 = 168
OD_class 1 count: 30
OD_class 0 count: 138
Variable EP_MINRTY with H1_count 3 = 85
OD_class 1 count: 15
OD_class 0 count: 70
Variable EP_MINRTY with H1_count 4 = 56
OD_class 1 count: 6
OD_class 0 count: 49
Variable EP_MINRTY with H1_count 5 = 39
OD_class 1 count: 6
OD_class 0 count: 33
Variable EP_MINRTY with H1_count 6 = 32
OD_class 1 count: 8
OD_class 0 count: 23
Variable EP_MINRTY with H1_count 7 = 25
OD_class 1 count: 2
OD_class 0 count: 23
Variable EP_MINRTY with H1_count 8 = 23
OD_class 1 count: 4
OD_class 0 count: 18
Variable EP_MINRTY with H1_count 9 = 9
OD_class 1 count: 1
OD_class 0 count: 8
Variable EP_MINRTY with H1_count 10 = 13
OD_class 1 count: 6
OD_class 0 count: 7
Variable EP_MINRTY with H1_count > 10 = 122
OD_class 1 count: 32
OD_class 0 count: 90
----------------------
Variable EP_MUNIT with H1_count 0 = 2054
OD_class 1 count: 134
OD_class 0 count: 1913
Variable EP_MUNIT with H1_count 1 = 472
OD_class 1 count: 59
OD_class 0 count: 413
Variable EP_MUNIT with H1_count 2 = 196
OD_class 1 count: 35
OD_class 0 count: 161
Variable EP_MUNIT with H1_count 3 = 90
OD_class 1 count: 18
OD_class 0 count: 72
Variable EP_MUNIT with H1_count 4 = 53
OD_class 1 count: 5
OD_class 0 count: 48
Variable EP_MUNIT with H1_count 5 = 41
OD_class 1 count: 5
OD_class 0 count: 36
Variable EP_MUNIT with H1_count 6 = 27
OD_class 1 count: 5
OD_class 0 count: 21
Variable EP_MUNIT with H1_count 7 = 26
OD_class 1 count: 6
OD_class 0 count: 20
Variable EP_MUNIT with H1_count 8 = 22
OD_class 1 count: 6
OD_class 0 count: 15
Variable EP_MUNIT with H1_count 9 = 18
OD_class 1 count: 4
OD_class 0 count: 14
Variable EP_MUNIT with H1_count 10 = 9
OD_class 1 count: 1
OD_class 0 count: 8
Variable EP_MUNIT with H1_count > 10 = 132
OD_class 1 count: 33
OD_class 0 count: 98
----------------------
Variable EP_MOBILE with H1_count 0 = 2396
OD_class 1 count: 180
OD_class 0 count: 2210
Variable EP_MOBILE with H1_count 1 = 285
OD_class 1 count: 47
OD_class 0 count: 237
Variable EP_MOBILE with H1_count 2 = 107
OD_class 1 count: 16
OD_class 0 count: 91
Variable EP_MOBILE with H1_count 3 = 65
OD_class 1 count: 9
OD_class 0 count: 56
Variable EP_MOBILE with H1_count 4 = 44
OD_class 1 count: 4
OD_class 0 count: 39
Variable EP_MOBILE with H1_count 5 = 36
OD_class 1 count: 7
OD_class 0 count: 29
Variable EP_MOBILE with H1_count 6 = 26
OD_class 1 count: 6
OD_class 0 count: 20
Variable EP_MOBILE with H1_count 7 = 22
OD_class 1 count: 3
OD_class 0 count: 17
Variable EP_MOBILE with H1_count 8 = 18
OD_class 1 count: 6
OD_class 0 count: 12
Variable EP_MOBILE with H1_count 9 = 9
OD_class 1 count: 3
OD_class 0 count: 6
Variable EP_MOBILE with H1_count 10 = 16
OD_class 1 count: 5
OD_class 0 count: 11
Variable EP_MOBILE with H1_count > 10 = 116
OD_class 1 count: 25
OD_class 0 count: 91
----------------------
Variable EP_CROWD with H1_count 0 = 2174
OD_class 1 count: 153
OD_class 0 count: 2015
Variable EP_CROWD with H1_count 1 = 395
OD_class 1 count: 48
OD_class 0 count: 346
Variable EP_CROWD with H1_count 2 = 145
OD_class 1 count: 26
OD_class 0 count: 119
Variable EP_CROWD with H1_count 3 = 80
OD_class 1 count: 11
OD_class 0 count: 69
Variable EP_CROWD with H1_count 4 = 48
OD_class 1 count: 7
OD_class 0 count: 41
Variable EP_CROWD with H1_count 5 = 43
OD_class 1 count: 9
OD_class 0 count: 33
Variable EP_CROWD with H1_count 6 = 32
OD_class 1 count: 7
OD_class 0 count: 25
Variable EP_CROWD with H1_count 7 = 32
OD_class 1 count: 5
OD_class 0 count: 27
Variable EP_CROWD with H1_count 8 = 25
OD_class 1 count: 1
OD_class 0 count: 24
Variable EP_CROWD with H1_count 9 = 18
OD_class 1 count: 4
OD_class 0 count: 14
Variable EP_CROWD with H1_count 10 = 6
OD_class 1 count: 3
OD_class 0 count: 2
Variable EP_CROWD with H1_count > 10 = 142
OD_class 1 count: 37
OD_class 0 count: 104
----------------------
Variable EP_NOVEH with H1_count 0 = 2066
OD_class 1 count: 143
OD_class 0 count: 1917
Variable EP_NOVEH with H1_count 1 = 502
OD_class 1 count: 69
OD_class 0 count: 432
Variable EP_NOVEH with H1_count 2 = 158
OD_class 1 count: 17
OD_class 0 count: 141
Variable EP_NOVEH with H1_count 3 = 81
OD_class 1 count: 13
OD_class 0 count: 68
Variable EP_NOVEH with H1_count 4 = 50
OD_class 1 count: 8
OD_class 0 count: 42
Variable EP_NOVEH with H1_count 5 = 46
OD_class 1 count: 5
OD_class 0 count: 41
Variable EP_NOVEH with H1_count 6 = 29
OD_class 1 count: 6
OD_class 0 count: 23
Variable EP_NOVEH with H1_count 7 = 26
OD_class 1 count: 6
OD_class 0 count: 20
Variable EP_NOVEH with H1_count 8 = 19
OD_class 1 count: 5
OD_class 0 count: 13
Variable EP_NOVEH with H1_count 9 = 17
OD_class 1 count: 2
OD_class 0 count: 15
Variable EP_NOVEH with H1_count 10 = 11
OD_class 1 count: 3
OD_class 0 count: 7
Variable EP_NOVEH with H1_count > 10 = 135
OD_class 1 count: 34
OD_class 0 count: 100
----------------------
Variable EP_GROUPQ with H1_count 0 = 2078
OD_class 1 count: 143
OD_class 0 count: 1928
Variable EP_GROUPQ with H1_count 1 = 470
OD_class 1 count: 60
OD_class 0 count: 410
Variable EP_GROUPQ with H1_count 2 = 171
OD_class 1 count: 28
OD_class 0 count: 143
Variable EP_GROUPQ with H1_count 3 = 90
OD_class 1 count: 12
OD_class 0 count: 78
Variable EP_GROUPQ with H1_count 4 = 64
OD_class 1 count: 7
OD_class 0 count: 57
Variable EP_GROUPQ with H1_count 5 = 33
OD_class 1 count: 1
OD_class 0 count: 32
Variable EP_GROUPQ with H1_count 6 = 29
OD_class 1 count: 7
OD_class 0 count: 21
Variable EP_GROUPQ with H1_count 7 = 29
OD_class 1 count: 7
OD_class 0 count: 21
Variable EP_GROUPQ with H1_count 8 = 22
OD_class 1 count: 7
OD_class 0 count: 15
Variable EP_GROUPQ with H1_count 9 = 13
OD_class 1 count: 5
OD_class 0 count: 8
Variable EP_GROUPQ with H1_count 10 = 12
OD_class 1 count: 5
OD_class 0 count: 6
Variable EP_GROUPQ with H1_count > 10 = 129
OD_class 1 count: 29
OD_class 0 count: 100
----------------------